*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .app-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .app-title h1{
    margin: 20px 0;
  }